<div class="container">
<div>
    <h1> <%= @wiki.title %>
        <small>
            submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user %>
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-md-8">
        <p> <%= @wiki.body %> </p>
    </div>
    <div class="col-md-4">
        <%= link_to "Edit SamWiki", edit_wiki_path(@wiki), class: 'btn btn-success' %>
        <%= link_to "Delete SamWiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: "Are You Sure?"} %>
    </div>
</div>
</div>